* {
  box-sizing: border-box;
}

/* brand color palette */
:root {
  --primary: rgba(68, 88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  color: #00ff00; /* Bright green color */
  text-shadow: 2px 2px 4px #000000; /* Black shadow */
  letter-spacing: 2px;
  animation: glow 1.5s infinite alternate;
  margin: 0;
}
main h1
{
  font-family: 'Roboto Mono'; /* Using the imported font */
  font-style: italic;
  font-size: 5%; /* Adjust font size as needed */
  color: #00FF00; /* Change the color to a techy green */
  text-align: center; /* Center the text */
  margin: 5px; /* Add margin for spacing */
}
header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--tertiary);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

header h1 {
  color: var(--tertiary);
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 3vw;
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--secondary);
  margin-right: 10px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

nav a:last-child {
  margin-right: 0;
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
}

.hero-banner {
  background: rgb(68, 88, 120);
  background-image: url("../images/02-hero-bg.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 30vh;
  color: var(--light);
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.hero-banner div {
  flex: 0 0 90%;
}

.hero-banner h2 {
  background-color: var(--secondary);
  color: var(--tertiary);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
}

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--primary);
  font-size: 4vw;
  line-height: 1.1;
}

.page-section > div {
  flex: 0 0 77%;
}

.page-section p {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 5px solid var(--secondary);
  background-color: var(--primary);
  color: var(--tertiary);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

/* feature first portfolio item */
.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.flex-item div {
  background-color: var(--secondary);
  padding: 8px 10px;
}

.flex-item h3 {
  font-size: 1.6rem;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a {
  color: var(--tertiary);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
}

.contact address a:hover {
  background-size: 100% 88%;
  color: var(--secondary);
}

/* portfolio project images */
/* TODO: Add portfolio project images here using background images*/
.run-buddy {
  background-image: url('/Develop/images/placeholder.jp'); /* Replace with your image URL */
            background-size: cover;
            background-position: center;
            height: 400px; /* Set the height of the div */
            display: flex;
            align-items: center;
            justify-content: center;
            color: white; /* Text color */
            font-family: 'Arial', sans-serif; /* Change to your desired font */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional text shadow for better readability */
}

.led-wall {
  background-image: url('/Develop/images/placeholder.JP'); /* Replace with your image path */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  min-height: 100vh; /* Full viewport height */
  position: relative; /* Positioning context for the content */

}

.react-calc {
  background-image: url('/Develop/images/placeholder.JP'); /* Replace with your image path */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  min-height: 100vh; /* Full viewport height */
  position: relative; /* Positioning context for the content */

}

.pastel-puzzles {
  background-image: url('/Develop/images/placeholder.JP'); /* Replace with your image path */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  min-height: 100vh; /* Full viewport height */
  position: relative; /* Positioning context for the content */

}

.surf-report {
  background-image: url('/Develop/images/placeholder.JP'); /* Replace with your image path */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  min-height: 100vh; /* Full viewport height */
  position: relative; /* Positioning context for the content */

}



.portfolio-column {
  flex: 1; /* Allow columns to grow equally */
  min-width: 300px; /* Set a minimum width for the columns */
  margin: 10px; /* Add some margin between columns */
  height: 200px; /* Set a default height for the columns */
  background-color: #f0f0f0; /* Background color for the columns */
}

/* Background image formatting */
.background-image {
  background-image: url('/Develop/images/background_pic.JPG'); /* Replace with your image path */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  min-height: 100vh; /* Full viewport height */
  position: relative; /* Positioning context for the content */
  
}

.background-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit; /* Use the same background */
  filter: blur(50); /* Adjust blur level */
  z-index: 1; /* Place behind the content */
}

.content {
  position: relative; /* Position content on top of the blurred image */
  z-index: 2; /* Ensure content is above the blurred background */
  color: white; /* Text color for visibility */
  padding: 20px; /* Add some padding */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.project {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}
/* media queries */

/* media queries for a max-width of 980px */
@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

/* media queries for a max-width of 768px */
@media (max-width: 768px) {

}